In [1]:
import pandas as pd

In [3]:
# Create a dataframe
data = {'Store':['Dhaka','Dhaka','Khulna','Khulna','Rajshahi','Rajshahi'],
       'Customer':['Tim','Jermy','Mark','Denice','Ray','Sam'],
       'Sales':[150,200,550,90,430,120]}
df = pd.DataFrame(data)
df

      Store Customer  Sales
0     Dhaka      Tim    150
1     Dhaka    Jermy    200
2    Khulna     Mark    550
3    Khulna   Denice     90
4  Rajshahi      Ray    430
5  Rajshahi      Sam    120

In [13]:
#select sales from df group by store
#store onusar e sales ke sum korbo
df.groupby('Store')[['Sales']].sum()

          Sales
Store
Dhaka       350
Khulna      640
Rajshahi    550

In [17]:
#select sales from df group by store
#store onusar e sales ke mean korbo
df.groupby("Store")[['Sales']].mean()

          Sales
Store
Dhaka     175.0
Khulna    320.0
Rajshahi  275.0

In [21]:
by_store = df.groupby("Store")

In [25]:
#string sum korle concat kore
df.groupby("Store").sum()

            Customer  Sales
Store
Dhaka       TimJermy    350
Khulna    MarkDenice    640
Rajshahi      RaySam    550

In [29]:
by_store.sum()

            Customer  Sales
Store
Dhaka       TimJermy    350
Khulna    MarkDenice    640
Rajshahi      RaySam    550

In [ ]:
#string e mean error dibe
#mean1 = by_store.mean()
#df.groupby('Store').mean()

In [33]:
# The steps above in a sinlge line code

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
df.groupby('Store').sum()

In [ ]:
# In oneline code
df.groupby('Store')[['Sales']].mean()

In [ ]:
df

In [ ]:
by_store.min()

In [ ]:
by_store.max()

In [ ]:
by_store[['Sales']].std()

In [ ]:
# count the no of instances in the columns, works with strings as well
# we have 2 customers and 2 sales in each store
by_store.count()

In [ ]:
by_store[['Sales']].describe()

In [ ]:
by_store.describe().transpose()