In [18]:
import pandas as pd
import numpy as np

In [7]:
array_2d=np.arange(0,100).reshape(10,10)

In [22]:
array_2d

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [26]:
index='r1 r2 r3 r4 r5 r6 r7 r8 r9 r10'.split()
columns='c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'.split()

In [30]:
df=pd.DataFrame(data=array_2d, index=index, columns=columns)
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [32]:
type(df)

pandas.core.frame.DataFrame

In [34]:
df[['c1','c2']]

     c1  c2
r1    0   1
r2   10  11
r3   20  21
r4   30  31
r5   40  41
r6   50  51
r7   60  61
r8   70  71
r9   80  81
r10  90  91

In [36]:
type(df['c1'])

pandas.core.series.Series

In [38]:
type(df[['c1']])

pandas.core.frame.DataFrame

In [42]:
df['new']=df['c1']+df['c2']
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10  new
r1    0   1   2   3   4   5   6   7   8    9    1
r2   10  11  12  13  14  15  16  17  18   19   21
r3   20  21  22  23  24  25  26  27  28   29   41
r4   30  31  32  33  34  35  36  37  38   39   61
r5   40  41  42  43  44  45  46  47  48   49   81
r6   50  51  52  53  54  55  56  57  58   59  101
r7   60  61  62  63  64  65  66  67  68   69  121
r8   70  71  72  73  74  75  76  77  78   79  141
r9   80  81  82  83  84  85  86  87  88   89  161
r10  90  91  92  93  94  95  96  97  98   99  181

In [46]:
df['new']='A'
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new
r1    0   1   2   3   4   5   6   7   8    9   A
r2   10  11  12  13  14  15  16  17  18   19   A
r3   20  21  22  23  24  25  26  27  28   29   A
r4   30  31  32  33  34  35  36  37  38   39   A
r5   40  41  42  43  44  45  46  47  48   49   A
r6   50  51  52  53  54  55  56  57  58   59   A
r7   60  61  62  63  64  65  66  67  68   69   A
r8   70  71  72  73  74  75  76  77  78   79   A
r9   80  81  82  83  84  85  86  87  88   89   A
r10  90  91  92  93  94  95  96  97  98   99   A

In [48]:
df['new2']='B'
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   4   5   6   7   8    9   A    B
r2   10  11  12  13  14  15  16  17  18   19   A    B
r3   20  21  22  23  24  25  26  27  28   29   A    B
r4   30  31  32  33  34  35  36  37  38   39   A    B
r5   40  41  42  43  44  45  46  47  48   49   A    B
r6   50  51  52  53  54  55  56  57  58   59   A    B
r7   60  61  62  63  64  65  66  67  68   69   A    B
r8   70  71  72  73  74  75  76  77  78   79   A    B
r9   80  81  82  83  84  85  86  87  88   89   A    B
r10  90  91  92  93  94  95  96  97  98   99   A    B

In [50]:
new_col='D'
df.insert(loc=4,column='C33',value=new_col)
df

     c1  c2  c3  c4 C33  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   D   4   5   6   7   8    9   A    B
r2   10  11  12  13   D  14  15  16  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  97  98   99   A    B

In [54]:
df.drop('r1',axis=0) #not permanent delete

     c1  c2  c3  c4 C33  c5  c6  c7  c8  c9  c10 new new2
r2   10  11  12  13   D  14  15  16  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  97  98   99   A    B

In [60]:
df

     c1  c2  c3  c4 C33  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   D   4   5   6   7   8    9   A    B
r2   10  11  12  13   D  14  15  16  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  97  98   99   A    B

In [62]:
df.drop('C33',axis=1,inplace=True) # permanent del

In [64]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   4   5   6   7   8    9   A    B
r2   10  11  12  13  14  15  16  17  18   19   A    B
r3   20  21  22  23  24  25  26  27  28   29   A    B
r4   30  31  32  33  34  35  36  37  38   39   A    B
r5   40  41  42  43  44  45  46  47  48   49   A    B
r6   50  51  52  53  54  55  56  57  58   59   A    B
r7   60  61  62  63  64  65  66  67  68   69   A    B
r8   70  71  72  73  74  75  76  77  78   79   A    B
r9   80  81  82  83  84  85  86  87  88   89   A    B
r10  90  91  92  93  94  95  96  97  98   99   A    B

In [68]:
df.loc[['r2','r3']] #for row.

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r2  10  11  12  13  14  15  16  17  18   19   A    B
r3  20  21  22  23  24  25  26  27  28   29   A    B

In [70]:
df.iloc[[2]]

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r3  20  21  22  23  24  25  26  27  28   29   A    B

In [72]:
df.loc['r1','c1']

0

In [74]:
df.loc[['r1','r5'],['c1','c2']]

    c1  c2
r1   0   1
r5  40  41

In [92]:
df.drop('new',axis=1,inplace=True) # permanent del

In [94]:
df.drop('new2',axis=1,inplace=True) # permanent del

In [96]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [98]:
df>5

        c1     c2     c3     c4     c5     c6    c7    c8    c9   c10
r1   False  False  False  False  False  False  True  True  True  True
r2    True   True   True   True   True   True  True  True  True  True
r3    True   True   True   True   True   True  True  True  True  True
r4    True   True   True   True   True   True  True  True  True  True
r5    True   True   True   True   True   True  True  True  True  True
r6    True   True   True   True   True   True  True  True  True  True
r7    True   True   True   True   True   True  True  True  True  True
r8    True   True   True   True   True   True  True  True  True  True
r9    True   True   True   True   True   True  True  True  True  True
r10   True   True   True   True   True   True  True  True  True  True

In [102]:
bool_mask=df%3==0
bool_mask

        c1     c2     c3     c4     c5     c6     c7     c8     c9    c10
r1    True  False  False   True  False  False   True  False  False   True
r2   False  False   True  False  False   True  False  False   True  False
r3   False   True  False  False   True  False  False   True  False  False
r4    True  False  False   True  False  False   True  False  False   True
r5   False  False   True  False  False   True  False  False   True  False
r6   False   True  False  False   True  False  False   True  False  False
r7    True  False  False   True  False  False   True  False  False   True
r8   False  False   True  False  False   True  False  False   True  False
r9   False   True  False  False   True  False  False   True  False  False
r10   True  False  False   True  False  False   True  False  False   True